<div class="container">
  <h1>Llamadaslibres</h1>
  <a class="btn btn-primary" href="/llamadaslibres"> Refrescar</a>
  <hr>
  <table class= "table">
    <thead>
      <tr>
        <th></th>
        <th>Emisor</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @llamadasEntrantes.each do |llamadaslibrer| %>

       <% if llamadaslibrer.idReceptor == (current_user.id).to_s %>
        <tr>
          <td><strong>Llamadas de :</strong></td>
          <td><%= llamadaslibrer.idEmisor %></td>
          <td><a  class= " btn btn-success" href="/llamada/contestar/<%= llamadaslibrer.id %>">Contestar</a>
          <a  class= " btn btn-danger" href="/llamada/rechazar/<%= llamadaslibrer.id %>" > Rechazar </a></td>
        </tr>
        <%end%>
      <% end %>
    </tbody>
  </table>
</div>
