<script>setTimeout('document.location.reload()',10000); </script>

<h1> Esperando ......... </h1>

<% if (Llamadaslibre.exists?(id: params[:id])) %>
<a href="/llamada/colgar/<%= @llamadaslibre.id %>" class="btn btn-danger">Colgar</a>
<%end%>
